<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>★따릉이★</title>
</head>
<body>
    
    {% if user.is_authenticated %}
    <a class="nav-link" href="{% url 'common:logout' %}"><button class="login-button">{{ user.username }} (로그아웃)</button></a>
    {% else %}
    <a href="{% url 'common:login' %}"><button class="login-button">로그인</button></a>
    {% endif %}
    
    <div class="main_div">
        <img src="{% static 'main/image/logo.png' %}" style="width:300px;">
        <h1>따릉이와 나의 거리 조회 서비스</h1>
        <div class="search_div">
            <form id="search_bar" action="/main/map/" method = "POST">
                {% csrf_token %}
                <input type="text" placeholder="현재 나의 위치 입력" name="location" id="location_input" required>
                <button class="search_button" type="submit" >
                    <img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png">
                </button>
            </form>
        </div>
        <h2 id="clock">00:00:00</h2>
        <div class="weather_div">
            <div id="weather-icon"></div>
            <div id="weather">
                <span></span>
                <br>
                <span></span>
            </div>
        </div>
    </div>

    <script src="{% static 'main/js/clock.js' %}"></script>
    <script src="{% static 'main/js/weather.js' %}"></script>

    <script>
        const myLocationInput = document.querySelector('#location_input');
        const formElement = document.querySelector('form');

        myLocationInput.addEventListener('focus', () => {
            myLocationInput.placeholder = '';
        });

        myLocationInput.addEventListener('blur', () =>{
            myLocationInput.placeholder = '현재 나의 위치 입력';
        });

        formElement.addEventListener('submit', (event)=>{
            event.preventDefault();
            const myLocation = myLocationInput.value;
            console.log(`입력받은 나의 위치 : ${myLocation}`);
            formElement.submit()
        });
    </script>
</body>
</html>