<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/style2.css' %}">
    <title>검색 기록</title>
</head>
<body>
    <div class="main_form">

        <h1>{{user.username}}님의 검색 기록</h1>
        <div class="history_data">
            {% for question in object_list  %}
                <a href="/">{{ question.user }} |
                {{ question.search_history }} |
                {{ question.created_at }} </a>
                <br>
                {% endfor %}
        </div>
    </div>
</body>
</html>